html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4F5665;
}

.btn {
  background-color: #F53838;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  border-radius: 10px;
  padding: 17px 78px;
}
.btn:hover {
  cursor: pointer;
}

.gray-background {
  background-color: #F6F6F6;
}

header {
  margin: 50px 0 89px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container ul {
  display: flex;
  gap: 0 40px;
}
header .container ul li {
  display: block;
  margin: auto;
}
header .container ul li a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
header .container .header-auth {
  display: flex;
  gap: 0 30px;
}
header .container .header-auth .signIn {
  color: #0B132A;
  font-weight: 500;
  line-height: 19px;
  margin: auto;
}
header .container .header-auth .signUp {
  margin: auto;
  border: 1px solid #F53838;
  border-radius: 50px;
  padding: 13px 45px;
  color: #F53838;
  font-weight: 500;
  line-height: 19px;
}

.hero {
  display: flex;
}
.hero .hero-content {
  margin-right: 40px;
}
.hero .hero-content .title {
  color: #0B132A;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  width: 555px;
  height: 140px;
  margin-bottom: 20px;
}
.hero .hero-content .title p {
  display: contents;
  font-weight: 700;
}
.hero .hero-content .description {
  color: #4F5665;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 50px;
}
.hero .hero-content .description p {
  display: contents;
  font-weight: 500;
}
.hero .hero-img {
  max-width: 611px;
  height: 382px;
}

.short-infomation-list {
  margin: 103px 0 95px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background: #FFFFFF;
  border-radius: 10px;
  height: 200px;
  box-shadow: 0 42px 114px rgba(13, 16, 38, 0.07);
}
.short-infomation-list .short-infomation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0 36px;
}
.short-infomation-list .short-infomation-item_content h4 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}
.short-infomation-list .short-infomation-item_content p {
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}
.short-infomation-list .gray-border {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
  width: 100%;
  height: 125px;
}

.feature {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 126px;
}
.feature-cover {
  display: contents;
}
.feature-cover img {
  width: 508px;
  height: 414px;
  margin: 0 170px 0 34px;
}
.feature-content {
  padding-top: 55px;
}
.feature-content-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  width: 383px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
}
.feature-content-desc {
  line-height: 30px;
  width: 100%;
  margin-bottom: 20px;
}
.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 30px;
}
.feature-item img {
  margin-right: 10px;
}

.plans .container {
  padding-top: 80px;
}
.plans-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  text-align: center;
  margin-bottom: 20px;
}
.plans-desc {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  width: 555px;
  font-weight: 400;
  margin: 0 auto 60px;
}
.plans-list {
  display: flex;
  justify-content: space-between;
}
.plans-item {
  background: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #DDDDDD;
  padding: 80px 68px 50px;
  width: 330px;
  text-align: center;
}
.plans-item-image {
  margin: 0 auto;
  margin-bottom: 30px;
}
.plans-item-title {
  text-align: center;
  margin: 0 auto 30px;
  color: #0B132A;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.plans-item ul {
  margin-bottom: 130px;
}
.plans-item ul li {
  display: flex;
  align-items: center;
  text-align: left;
}
.plans-item ul li img {
  margin-right: 20px;
  height: 24px;
  width: 24px;
}
.plans-item ul li p {
  font-size: 14px;
  line-height: 30px;
}
.plans-item-price {
  margin: 0 auto 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height, or 120% */
  text-align: center;
  color: #0B132A;
}
.plans-item .btn-select {
  height: 45px;
  padding: 13px 63px;
  color: #F53838;
  border: 2px solid #F53838;
  border-radius: 50px;
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  position: relative;
}
.plans-item:hover {
  border: 2px solid #F53838;
}
.plans-item:hover .btn-select {
  background-color: #F53838;
  color: #fff;
}
.plans-item:hover .btn-select:after {
  position: absolute;
  content: "";
  width: 127px;
  height: 45px;
  border-radius: 50px;
  left: 0;
  top: 0;
  transform: translate(25px, 50%);
  background-color: rgba(245, 56, 56, 0.75);
  filter: blur(54px);
  border-radius: 60px;
}

.map {
  padding: 150px 0 35px;
}
.map-title {
  width: 383px;
  height: 100px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  margin: 0 auto;
}
.map-desc {
  margin: 20px auto 155px auto;
  line-height: 30px;
  /* or 187% */
  text-align: center;
  color: #4F5665;
  width: 555px;
  height: 60px;
}
.map-desc span {
  font-weight: bold;
}
.map-image {
  margin: 0 auto 35px;
}

.customer-title {
  text-align: center;
  width: 448px;
  height: 100px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  margin: 0 auto;
}

.swiper {
  width: 1275px;
}
.swiper .swiper-slide {
  width: 400px;
  height: 230px;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px;
}
.swiper .swiper-slide .user-group {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 20px;
}
.swiper .swiper-slide .user-group .avatar {
  margin-right: 21px;
  height: 50px;
  width: 50px;
}
.swiper .swiper-slide .user-group .info .username {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}
.swiper .swiper-slide .user-group .info .address {
  font-weight: normal;
  font-size: 14px;
  color: #4F5665;
}
.swiper .swiper-slide .user-group .star {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.swiper .swiper-slide .user-group .star .number {
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
  margin-right: 10px;
}
.swiper .swiper-slide .user-group .star img {
  position: relative;
  bottom: 1px;
}
.swiper .swiper-slide .content {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  width: 340px;
  height: 100px;
  color: #0B132A;
}

.pagination-custom {
  display: flex;
  margin-top: 60px;
  height: 60px;
  align-items: center;
}
.pagination-custom .swiper-button-next,
.pagination-custom .swiper-button-prev {
  position: relative;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.pagination-custom .swiper-horizontal > .swiper-pagination-bullets,
.pagination-custom .swiper-pagination-bullets.swiper-pagination-horizontal,
.pagination-custom .swiper-pagination-custom,
.pagination-custom .swiper-pagination-fraction {
  bottom: unset;
  left: 0;
  width: 100%;
}
.pagination-custom .swiper-pagination {
  position: relative;
  text-align: left;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.pagination-custom .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: #DDE0E4;
  opacity: unset;
}
.pagination-custom .swiper-pagination-bullet-active {
  width: 45px;
  border-radius: 10px;
  background-color: #F53838;
}
.pagination-custom-btn-group {
  display: flex;
  gap: 0 40px;
}
.pagination-custom-btn-group button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #F53838;
}
.pagination-custom-btn-group button:hover {
  cursor: pointer;
  background-color: #F53838;
  border: 2px solid #fff;
}
.pagination-custom-btn-group button:hover i {
  border: transparent;
  color: #fff;
}
.pagination-custom-btn-group button i {
  border: transparent;
  color: #F53838;
}
.pagination-custom-btn-group .swiper-button-disabled {
  background-color: #DDE0E4 !important;
  border: 2px solid #DDE0E4;
}
.pagination-custom-btn-group .swiper-button-disabled i {
  border: transparent;
  color: #fff;
}

/*# sourceMappingURL=app.css.map */
