.customer {
    &-title {
        text-align: center;
        width: 448px;
        height: 100px;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: $heading-color;
        margin: 0 auto;
    }
}

.swiper {
    width: 1275px;
    .swiper-slide {
        width: 400px;
        height: 230px;
        border: 2px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 30px;
        .user-group {
            display: flex;
            align-items: center;
            padding-right: 20px;
            padding-bottom: 20px;
            .avatar {
                margin-right: 21px;
                height: 50px;
                width: 50px;
            }
            .info {
                .username {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 30px;
                    color: $heading-color;
                }
                .address {
                    font-weight: normal;
                    font-size: 14px;
                    color: #4F5665;
                }
            }
            .star {
                margin-left: auto;
                display: flex;
                align-items: center;
                .number {
                    font-size: 16px;
                    line-height: 30px;
                    color: $heading-color;
                    margin-right: 10px;
                }
                img {
                    position: relative;
                    bottom: 1px;
                }
            }
        }
        .content {
            font-size: 16px;
            font-weight: normal;
            line-height: 1.5;
            width: 340px;
            height: 100px;
            color: #0B132A;
        }
    }
}

.pagination-custom {
    display: flex;
    margin-top: 60px;
    height: 60px;
    align-items: center;
    .swiper-button-next,
    .swiper-button-prev {
        position: relative;
        width: calc(var(--swiper-navigation-size)/ 44 * 27);
        height: var(--swiper-navigation-size);
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--swiper-navigation-color, var(--swiper-theme-color));
    }
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: unset;
        left: 0;
        width: 100%;
    }
    .swiper-pagination {
        position: relative;
        text-align: left;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
    }
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 50%;
        background: #DDE0E4;
        opacity: unset;
        &-active {
            width: 45px;
            border-radius: 10px;
            background-color: $primary-color;
        }
    }
    &-btn-group {
        display: flex;
        gap: 0 40px;
        button {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid $primary-color;
            &:hover {
                cursor: pointer;
                background-color: $primary-color;
                border: 2px solid #fff;
                i {
                    border: transparent;
                    color: #fff;
                }
            }
            i {
                border: transparent;
                color: $primary-color;
            }
        }
        .swiper-button-disabled {
            background-color: #DDE0E4 !important;
            border: 2px solid #DDE0E4;
            i {
                border: transparent;
                color: #fff;
            }
        }
    }
}