.feature {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 126px;
    &-cover {
        display: contents;
        img {
            width: 508px;
            height: 414px;
            margin: 0 170px 0 34px;
        }
    }
    &-content {
        padding-top: 55px;
        &-title {
            font-weight: 500;
            font-size: 35px;
            line-height: 50px;
            color: $heading-color;
            width: 383px;
            height: 100px;
            overflow: hidden;
            margin-bottom: 20px;
        }
        &-desc {
            line-height: 30px;
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        img {
            margin-right: 10px;
        }
        font-size: 14px;
        line-height: 30px;
    }
}