.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    line-height: 1;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $text-color;
}

.btn {
    background-color: $primary-color;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    border-radius: 10px;
    padding: 17px 78px;
    &:hover {
        cursor: pointer;
    }
}

.gray-background {
    background-color: #F6F6F6;
}