header {
    margin: 50px 0 89px 0;
    .container {
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            gap: 0 40px;
            li {
                display: block;
                margin: auto;
                a {
                    font-family: inherit;
                    color: inherit;
                    font-size: inherit;
                }
            }
        }
        .header-auth {
            display: flex;
            gap: 0 30px;
            .signIn {
                color: $heading-color;
                font-weight: 500;
                line-height: 19px;
                margin: auto;
            }
            .signUp {
                margin: auto;
                border: 1px solid $primary-color;
                border-radius: 50px;
                padding: 13px 45px;
                color: $primary-color;
                font-weight: 500;
                line-height: 19px;
            }
        }
    }
}