.hero {
    display: flex;
    .hero-content {
        margin-right: 40px;
        .title {
            color: $heading-color;
            font-weight: 500;
            font-size: 50px;
            line-height: 70px;
            width: 555px;
            height: 140px;
            margin-bottom: 20px;
            p {
                display: contents;
                font-weight: 700;
            }
        }
        .description {
            color: $text-color;
            font-size: 16px;
            line-height: 30px;
            font-weight: 400;
            p {
                display: contents;
                font-weight: 500;
            }
            margin-bottom: 50px;
        }
    }
    .hero-img {
        max-width: 611px;
        height: 382px;
    }
}