.map {
    padding: 150px 0 35px;
    &-title {
        width: 383px;
        height: 100px;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        text-align: center;
        color: $heading-color;
        margin: 0 auto;
    }
    &-desc {
        margin: 20px auto 155px auto;
        line-height: 30px;
        /* or 187% */
        text-align: center;
        color: #4F5665;
        width: 555px;
        height: 60px;
        span {
            font-weight: bold;
        }
    }
    &-image {
        margin: 0 auto 35px;
    }
}