    .plans {
        .container {
            padding-top: 80px;
        }
        &-title {
            font-weight: 500;
            font-size: 35px;
            line-height: 50px;
            color: $heading-color;
            text-align: center;
            margin-bottom: 20px;
        }
        &-desc {
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            width: 555px;
            font-weight: 400;
            margin: 0 auto 60px;
        }
        &-list {
            display: flex;
            justify-content: space-between;
        }
        &-item {
            background: #FFFFFF;
            border-radius: 10px;
            border: 2px solid #DDDDDD;
            padding: 80px 68px 50px;
            width: 330px;
            text-align: center;
            &-image {
                margin: 0 auto;
                margin-bottom: 30px;
            }
            &-title {
                text-align: center;
                margin: 0 auto 30px;
                color: $heading-color;
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
            }
            ul {
                margin-bottom: 130px;
                li {
                    display: flex;
                    align-items: center;
                    text-align: left;
                    img {
                        margin-right: 20px;
                        height: 24px;
                        width: 24px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 30px;
                    }
                }
            }
            &-price {
                margin: 0 auto 20px;
                font-weight: 500;
                font-size: 25px;
                line-height: 30px;
                /* identical to box height, or 120% */
                text-align: center;
                color: $heading-color;
            }
            .btn-select {
                height: 45px;
                padding: 13px 63px;
                color: $primary-color;
                border: 2px solid $primary-color;
                border-radius: 50px;
                background-color: #fff;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                align-items: center;
                position: relative;
            }
            &:hover {
                border: 2px solid $primary-color;
                .btn-select {
                    background-color: $primary-color;
                    color: #fff;
                    &:after {
                        position: absolute;
                        content: "";
                        width: 127px;
                        height: 45px;
                        border-radius: 50px;
                        left: 0;
                        top: 0;
                        transform: translate(25px, 50%);
                        background-color: rgba(245, 56, 56, 0.75);
                        filter: blur(54px);
                        border-radius: 60px;
                    }
                }
            }
        }
    }