.short-infomation-list {
    margin: 103px 0 95px 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    background: #FFFFFF;
    border-radius: 10px;
    height: 200px;
    box-shadow: 0 42px 114px rgba(13, 16, 38, 0.07);
    .short-infomation-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 0 36px;
        &_content {
            h4 {
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 25px;
                line-height: 30px;
                color: $heading-color;
            }
            p {
                font-size: 20px;
                line-height: 30px;
                color: $text-color;
            }
        }
    }
    .gray-border {
        border-left: 2px solid #EEEFF2;
        border-right: 2px solid #EEEFF2;
        width: 100%;
        height: 125px;
    }
}